# Literais em Python
## Literais Inteiros

In [7]:
print(1)
print(10)

1
10

### Inteiro na base 2 (binário)
0b10 => 2

In [9]:
print(0b10) # 2

2

### Inteiro na base 8 (octal)
0o123

In [3]:
print(0o123) # 83
# print(0123) # erro

83

### Inteiro na base 16 (hexadecimal)
0..9 e de A..F
FF = 255
0x123 = 291

In [6]:
print(0x123)

291

### Floats - Númericos com casas decimais
2e-22 signigfica 10 elevado a -22

In [10]:
print(1.0)
print(2.5)
print(3.)
print(2e-22) 
print(0.0_000_000_000_000_000_000_001)

1.0
2.5
3.0
2e-22
1e-22

### Strings - Textos
\t tabulação de 8 espaços
\n pula linha

In [13]:
print("texto com aspas duplas")
print('texto com aspas simples')
print("texto com escapes: \n\t\"")
print("""texto com múltiplas
linhas
linha 2
linha 3""")

texto com aspas duplas
texto com aspas simples
texto com escapes:
	"
texto com múltiplas
linhas
linha 2
linha 3

### Booleanos - Lógicos (True ou False, 1 ou 0)
Primeira letra maiúscula True e False
1 > 0 True
1 < 0 False

In [14]:
print(True > False)
print(True < False)

True
False

### Laboratório 2.2.6
Alt + Shift + seta para baixo duplica linha

In [21]:
print("\"Eu sou\"\n\"\"aprendizado\"\"\n\"\"\"Python\"\"\"") # primeira forma
print('"Eu sou"\"n""aprendizado""\n\"""Python"""') # segunda forma
print('"Eu sou"','""aprendizado""','"""Python"""',sep="\n") # terceira forma

"Eu sou"
""aprendizado""
"""Python"""
"Eu sou""n""aprendizado""
"""Python"""
"Eu sou"
""aprendizado""
"""Python"""

### Literal None (nada)